@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@400;600;700&family=Moon+Dance&family=Open+Sans:wght@300&family=PT+Serif&family=Poppins:wght@100;500;600;700&family=Raleway:wght@500;700&family=Roboto:ital,wght@0,700;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.width {
    width: 11rem;
}


/* Input text and input box css */

.input-text-style {
    margin-right: 3rem;
    margin-bottom: 2rem;
    padding: .3rem;
}

.input-style {
    background-color: rgb(216, 215, 214);
    margin-left: -3rem;
    margin-bottom: 1.5rem;
    border: none;
    padding: .5rem;
}

.saving-input-style {
    border: none;
    padding: .5rem;
    background-color: rgb(216, 215, 214);
}


/* Notification css here */

.notify {
    color: rgb(65, 2, 2);
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
    background: #13cfbd;
    margin-top: 20px;
    border-radius: 2rem;
    padding: 8px 20px;
    display: none;
    box-shadow: -4px 13px 5px #FF3C5F;
}

.notify-section {
    width: 35%;
    margin: 0 auto;
}